spring:
  application:
    name: maintenanceSystem

  output:
    ansi:
      enabled: ALWAYS

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      minimum-idle: 5
      maximum-pool-size: 10
      idle-timeout: 30000
      connection-timeout: 30000
      pool-name: HikariPool-1
      auto-commit: true
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: America/Panama

  jackson:
    time-zone: America/Panama

task:
  scheduling:
    pool:
      size: 5
    thread-name-prefix: scheduler-
